<div class="container">

  <div class="input-group">
    <input type="text" class="form-control" [formControl]="searchInput" placeholder="Search...">
  </div>

  <ng-container>

    <div class="card" *ngIf="searchResults?.length > 0">
      <h6 class="card-title">{{'search.title' | translate}}:</h6>
      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
        <div class="list-group" *cdkVirtualFor="let result of $any(searchResults)">
          <a [routerLink]="['/review', result.reviewId]" class="list-group-item list-group-item-action mb-1"
            (click)="close()">
            <div>{{ result.title }}</div>
            <div>{{ result.content | slice: 0: 30 }}...</div>
          </a>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="card" *ngIf="searchResults?.length === 0">
      <span>{{'review.nothing' | translate}}</span>
    </div>

  </ng-container>
</div>
