<div class="container my-3">
  <h1>{{'review.create.create' | translate}}</h1>

  <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
    <div class="mb-3">
      <label for="title" class="form-label">{{'review.create.title' | translate}}</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>

    <div class="mb-3">
      <label for="category" class="form-label me-3">{{'review.create.category' | translate}}</label>
      <mat-form-field appearance="fill">
        <mat-label>{{'review.create.category' | translate}}</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories | keyvalue; let i = index" [value]="category.value.id"
            (click)="onCategorySelect()">{{category.value.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ng-container *ngIf="subCategories?.length">
      <div class="mb-3">
        <label for="subcategoryId" class="form-label me-3">{{'review.create.subcategory' | translate}}</label>
        <mat-form-field appearance="fill">
          <mat-label>{{'review.create.subcategory' | translate}}</mat-label>
          <mat-select formControlName="subcategoryId">
            <mat-option *ngFor="let subCategory of subCategories | keyvalue; let i = index"
              [value]="subCategory.value.id">{{
              subCategory.value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>

    <div class="mb-2">
      <label for="productTitle" class="form-label">{{'review.create.product-title' | translate}}</label>
      <input type="text" class="form-control" id="productTitle" formControlName="productTitle">
      <!-- <mat-form-field appearance="fill">
        <mat-label>Product Title</mat-label>
        <mat-select formControlName="productTitle" (selectionChange)="onProductTitleChange()">
          <mat-option *ngFor="let product of products" [value]="product.title">{{ product.title }}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>

    <div class="mb-2" *ngIf="showProductId">
      <label for="productId" class="form-label">{{'review.create.product-id' | translate}}</label>
      <input type="number" class="form-control" id="productId" formControlName="productId">
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">{{'review.create.content' | translate}}</label>
      <app-markdown-editor [control]="contentControl"></app-markdown-editor>
    </div>

    <div class="mb-3">
      <label for="tags" class="form-label">{{'review.create.tags' | translate}}</label>
      <input type="text" class="form-control" id="tags" formControlName="tags">
    </div>

    <div class="mb-3">
      <label for="reviewRating" class="form-label">{{'review.create.review-rating' | translate}}</label>
      <input type="number" class="form-control" id="reviewRating" formControlName="reviewRating" min="1" max="10">
    </div>

    <div class="mb-3">
      <label for="images" class="form-label">{{'review.create.images' | translate}}</label>
      <div class="dnd-container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" multiple
          (change)="fileBrowseHandler($any($event).target.files)" />
        <img src="assets/images/ic-upload-file.svg" alt="">
        <h3>{{'review.create.drag1' | translate}}</h3>
        <h3>{{'review.create.drag2' | translate}}</h3>
        <label for="fileDropRef">{{'review.create.drag3' | translate}}</label>
      </div>

      <div class="files-list">
        <div class="single-file" *ngFor="let file of files; let i = index">
          <img src="assets/images/ic-file.svg" width="45px" alt="file">
          <div class="info">
            <h4 class="name">
              {{ file?.name }}
            </h4>
            <p class="size">
              {{ formatBytes(file?.size) }}
            </p>
            <app-progress [progress]="file?.progress"></app-progress>
          </div>
          <img src="assets/images/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{{'review.create.create' | translate}}</button>
  </form>

</div>
