<div class="container">
  <div class="card m-3">
    <div class="card-header">
      <h1>{{ review?.title }}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ review?.productTitle }}</h5>
      <p class="card-text">{{ review?.content }}</p>
      <p>{{'review.read.category' | translate}}: {{ review?.categoryID?.name }}</p>
      <p>{{'review.read.subcategory' | translate}}: {{ review?.subcategoryID?.name }}</p>
      <p>{{'review.read.tags' | translate}}: {{ review?.tags }}</p>
      <p>{{'review.read.rating' | translate}}: {{ review?.reviewRating }}</p>
      <p>{{'review.read.like' | translate}}: {{ review?.like !== null ? review?.like : '0' }}</p>
      <p>{{'review.read.numberOfPic' | translate}}: {{ review?.imageslinks.length }}</p>

      <ngb-carousel *ngIf="review?.imageslinks" class="img-container">
        <ng-template ngbSlide *ngFor="let image of review?.imageslinks; let i = index">
          <div class="wrapper exmpl">
            <img [src]="image.link" alt="Random first slide" class="img"
              onerror="this.src='../../../../../assets/placeholder.jpg';" />
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>
</div>
