<div class="container m-3">
  <div class="card m-3">
    <div class="card-header">
      <h1>{{ review?.title }}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ review?.productTitle }}</h5>
      <p class="card-text">{{ review?.content }}</p>
      <p>{{'review.read.category' | translate}}: {{ review?.category }}</p>
      <p>{{'review.read.tags' | translate}}: {{ review?.tags }}</p>
      <p>{{'review.read.rating' | translate}}: {{ review?.reviewRating }}</p>
      <p>{{'review.read.images' | translate}}: {{ review?.imageslinks }}</p>
      <!-- <div *ngFor="let image of review?.imageslinks"> -->
        <!-- <img [src]="image" alt="Review Image" class="img-fluid"> -->
      <!-- </div> -->
    </div>
  </div>
  </div>
