<div class="container my-3 border border-light-subtle">
  <h2 class="d-flex justify-content-center display-6 mb-3">{{'tags.header' | translate | uppercase}}</h2>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">{{'home.tags' | translate}}</span>
    <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="{{'home.tags' | translate}}"
      aria-label="Tags search" aria-describedby="button-addon2">
    <button (click)="searchTags()" class="btn btn-outline-secondary" type="button" id="button-addon2">{{'home.search' |
      translate}}</button>
  </div>

  <div class="tag-cloud d-flex justify-content-center">
    <a *ngFor="let tag of tags" class="tag"><app-tag [tag]="tag"></app-tag></a>
  </div>
</div>
