<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Suggify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">

            <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link" data-bs-display="static">Categories</a>

            <ul class="dropdown-menu dropend">
              <li class="dropdown-submenu" *ngFor="let category of categories | keyvalue; let i = index">
                <ng-container *ngIf="category.value.subcategories.length; else noSubcategories">
                  <a (click)="openPage('title', 'ASC', category.value.id)" data-bs-toggle="dropdown"
                    class="dropdown-item dropdown-toggle">{{category.value.name}}</a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let subcategory of category.value.subcategories">
                      <a class="dropdown-item"
                        (click)="openPage('title', 'ASC', subcategory.id)">{{subcategory.name}}</a>
                    </li>
                  </ul>
                </ng-container>
                <ng-template #noSubcategories>
                  <a class="dropdown-item" (click)="openPage('title', 'ASC', category.value.id)" role="button">
                    {{category.value.name}}
                  </a>
                </ng-template>
              </li>
            </ul>

          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="openPage('createdAt', 'DESC')">{{'navbar.latest' |
              translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" role="button" (click)="openPage('reviewRating', 'DESC')">{{'navbar.top' |
              translate}}</a>
          </li>
        </ul>

        <div *ngIf="!isLoggedIn; else loggedIn">
          <button mat-raised-button class="me-2" routerLink="auth/login" matTooltip="SIGN UP"
            matTooltipPosition="below">{{'navbar.login' | translate}}</button>
        </div>
        <div>
          <ng-template #loggedIn>
            <button mat-raised-button class="me-2" routerLink="review/create" matTooltip="CREATE REVIEW"
              matTooltipPosition="below">{{'navbar.new' | translate}}</button>

            <button *ngIf="userService.getAdminBoard()" mat-raised-button class="me-2" routerLink="admin"
              matTooltip="ADMIN PAGE" matTooltipPosition="below">{{'navbar.admin-panel' | translate}}</button>

            <button mat-raised-button class="me-2" routerLink="user" matTooltip="YOUR PROFILE"
              matTooltipPosition="below">{{'navbar.profile' | translate}}</button>

            <button mat-raised-button class="me-2" (click)="logout()" matTooltip="LOGOUT"
              matTooltipPosition="below">{{'navbar.logout' | translate}}</button>
          </ng-template>
        </div>
        <form class="d-flex" role="search">
          <app-search></app-search>
        </form>
      </div>
      <app-dark-mode></app-dark-mode>
      <app-language></app-language>
    </div>
  </nav>
</div>
