<div class="container d-flex">

  <star-rating [starType]="'svg'" [rating]="rating" [hoverEnabled]="true" (starClickChange)="onClick($event)"
    (ratingChange)="onRatingChange($event)" [autoClose]="true" [openDelay]="300" #popover="ngbPopover" ngbPopover="{{
      (error === true ? 'review.read.rate-error'
      : (notAuthorized === true ? 'common.errors.not-authorized'
      : (onClickResult ? ('review.read.rate'| translate) + ' ' + onClickResult
      : ''))) | translate}} ">
  </star-rating>

</div>
