<h2 class="d-flex justify-content-center display-3">LATEST REVIEWS</h2>
<div class="container d-flex justify-content-center mt-3">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">

        <div class="card mb-3" style="max-width: 1100px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../../assets/Artboard.png" class="card-img-top" alt="Artboard">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
              <div class="card-footer text-body-secondary">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="card mb-3" style="max-width: 1100px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../../assets/Artboard.png" class="card-img-top" alt="Artboard">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
              <div class="card-footer text-body-secondary">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="card mb-3" style="max-width: 1100px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../../assets/Artboard.png" class="card-img-top" alt="Artboard">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
              <div class="card-footer text-body-secondary">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
