<div class="container mt-3">

  <mat-form-field>
    <mat-label>{{'user.table.filter' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{'user.table.filter' | translate}}" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <div *ngFor="let col of displayedColumns; let i = index;">

        <ng-container matColumnDef="{{col}}"
        *ngIf="inputData.columns[i] !== 'create' && inputData.columns[i] !== 'actions'; else createAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{col | uppercase}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [routerLink]="'/review/' + row.id" class="row-hover"
            matTooltip="Go to review">{{row[inputData.columns[i]]}}</mat-cell>
        </ng-container>

        <ng-template #createAt>
          <ng-container matColumnDef="{{col}}" *ngIf="inputData.columns[i] !== 'actions'; else buttons">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{col | uppercase}} </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row[inputData.columns[i]] | date:'dd.MM.yyyy, hh:mm'}}</mat-cell>
          </ng-container>
        </ng-template>

        <ng-template #buttons>
          <ng-container matColumnDef="{{col}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{col | uppercase}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-icon matTooltip="{{'user.table.edit' | translate}}">edit</mat-icon>
              <mat-icon matTooltip="{{'user.table.delete' | translate}}" (click)="onDelete(row.id)">delete_forever</mat-icon>
            </mat-cell>
          </ng-container>
        </ng-template>

      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row d-flex justify-content-center" *matNoDataRow>
        <td class="mat-cell my-3" colspan="4">{{'user.table.no-rec-found' | translate}}</td>
      </tr>

    </mat-table>

    <mat-paginator *ngIf="dataSource.data.length !== 0" [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of users"></mat-paginator>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  </div>

</div>
