<div class="container mt-3">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Example" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <div *ngFor="let col of displayedColumns; let i = index;">

        <ng-container matColumnDef="{{col}}" *ngIf="col !== 'Create'; else createAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{col | uppercase}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row[displayedColumns[i]]}} </mat-cell>
        </ng-container>

        <ng-template #createAt>
          <ng-container matColumnDef="{{col}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{col | uppercase}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row[displayedColumns[i]] | date:'dd/MM/yyyy, hh:mm'}} </mat-cell>
          </ng-container>
        </ng-template>

      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
